<!DOCTYPE html>
<html lang="en" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
<head>
  <meta charset="UTF-8">
  <title>PolicyGuard Login page</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-box">
      <div class="login-box-formbox">
        
        <div class="login-box-login">
          <h1>Welcome to PolicyGuard</h1>
          <p>
            Advanced Real-Time Monitoring and Logging System Using Python's Asyncio for Ensuring Compliance with Security Policies in Web Applications
          </p>
          <form action="#">
            <div id="password-result" style="color: red;"></div>
            <div>
              <label for="password"> Password</label>
              <input type="password" name="password" class="input-password" />
            </div>
            <div>
              <input type="button" value="Check Password" class="btn" />
            </div>
          </form>
        </div>
      </div>
      <div class="login-box-quotebox">
        <div class="quote-container">
          <div class="quote">Fact:</div>
          <div class="quote-small">
            "The most used cyber security framework was ISO 27001/27002 at 48% of companies."
          </div>
        </div>
      </div>
    </div>
<!-- partial -->
  <script  src="./script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.btn').click(function() {
        const password = $('.input-password').val();
        $.ajax({
          type: "POST",
          url: "/check_password",
          contentType: "application/json",
          data: JSON.stringify({password: password}),
          success: function(response) {
            // Update to display result as a notification
            let message = response.result ? "Strong password" : "Weak password";
            $('#password-result').text(message).css('color', response.result ? 'green' : 'red');
          },
          error: function(response) {
            $('#password-result').text("Error checking password.").css('color', 'red');
          }
        });
      });
    });
  </script>  
</body>
</html>
